footer {
    div {
        nav {
            ul {
                color: map-get($paleta-colores, color-enlace);
                font-family: $general-font;
                margin: 10px 0px 10px 0px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                background-image: linear-gradient(to left, grey, #366E7D, grey);
                &:hover {
                    background-image: linear-gradient(to left, #366E7D, grey,);
                }
            }
        }
    }
}