main {
    background-color: map-get($paleta-colores, color-fondo);

    h2 {
        font-family: $titulo-font;
        font-size: medium;
        text-decoration: underline;
        text-align: center;
    }

    section {
        p {
            color: map-get($paleta-colores, color-parrafo);
            background-color: map-get($paleta-colores, color-fondo-parrafo);
            height: 50%;
            font-family: $titulo-font;
        }
    }

    .navbar {
        justify-content: end;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .novedades {
        font-family: $titulo-font;
        @extend .contenido-flex
    }

    .contacto {
        list-style-type: square;
        font-family: $general-font;
        @extend .contenido-flex
    }

    img {
        width: 100%;
        height: 100%;
    }
}