$paleta-colores: (
    color-fondo:#86A1BB,
    color-titulo:aliceblue,
    color-enlace:rgb(112, 43, 43),
    color-enlace-hover:rgb(38, 93, 95),
    color-parrafo:rgb(233, 233, 233),
    color-fondo-parrafo: #366E7D,
    )