@font-face {
    font-family: "coraje-el-perro-cobarde";
    src: url("../google-font/Nunito-Italic-VariableFont_wght.ttf");
}

$titulo-font: Arial, Helvetica, sans-serif;
$general-font: "coraje-el-perro-cobarde";